<div class="jumbotron">
        <h1> CS103-CPA02: NPC Database </h1>
    </div>

    <p class="p-3 m-3 border border-primary bg-light">
        Welcome to the NPC (Non-Player Character) open source database. This is a website where you can create NPCs for yourself or others to use in their tabletop roleplaying games. You can also search for NPCs by tag.
    </p>


